<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374967913273-u0qmm9hmhtdb18e7mkognflkaqq8jd0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374967913273-u0qmm9hmhtdb18e7mkognflkaqq8jd0e</string>
	<key>API_KEY</key>
	<string>AIzaSyDanoZ2qaWFJLT81e937-40NmQGT3DdOuI</string>
	<key>GCM_SENDER_ID</key>
	<string>374967913273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>toolboxos.jurni</string>
	<key>PROJECT_ID</key>
	<string>jurni-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>jurni-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374967913273:ios:82c12dc39e5c27f21576e8</string>
	<key>DATABASE_URL</key>
	<string>https://jurni-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>